body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #FFFFFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='159' height='159' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23a5a58e' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%23ccccb4' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23a5a58e' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%23ccccb4' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%23F5F5DC' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%23732e00' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%23843d00' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%23964B00' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%23843d00' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%23732e00' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%23964B00' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%23732e00' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%23964B00' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%23843d00' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%23964B00' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Manrope', sans-serif;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F5F5DC;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


/* my modyfi */
.navbar-nav > li {
    padding-top: 5px;
}

.navbar-brand {
    padding: 0 15px;
}

.navbar-nav > li .navbar-brand {
    padding: 15px 15px 0;
}
/* My styles */
/* layout */
/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
}


.footer__copyright {
    
}

.footer__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.footer__nav-link {
    margin-left: 1em;
    color: #333;
    padding: .5em 1em;
    border: 2px #000000 solid;
    border-radius: 2em;
    transition: border-color .2s linear, background-color .2s linear, color .2s linear;
}

   

    .footer__nav-link:focus {
        text-decoration: none;
        color: #333;
        
    }

    .footer__nav-link:hover {
        text-decoration: none;
        color: #EFEFEF;
        background-color: #000;
        border-color: #000;                                               
    }

    .footer__nav-link:first-child {
        margin-left: 0;
    }


/* /layout */



/*index*/

.side {
    transition: transform .5s linear;
}


.side:hover {
    transform: rotate(360deg)      ;



}




/*/index*/


/* request */

.request__label {
   display: inline-block;
   text-transform: uppercase;
   font-size: 1.5rem;
   font-style: italic;
   color: #333;
}

.request__theme {   
    display: block;
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;


    transition: border-color .2s linear;
}

    .request__theme:focus {
        border-color: #3bc552;
        outline: none;
    }

.request__text {
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none;
}

    .request__text:focus {
        border-color: #3bc552;
        outline: none;
    }

.request__mail {
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color .2s linear;
}

    .request__mail:focus {
        border-color: #3bc552;
        outline: none;
    }

.request__select {
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color .2s linear;
}

    .request__select:focus {
        border-color: #3bc552;
        outline: none;
    }

.request__radio {
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color .2s linear;
    list-style-type: none;
    max-width: 280px;
}

    .request__radio:focus {
        border-color: #3bc552;
        outline: none;
    }

/*/request*/
                               
/* news */

.news {
    margin: 3rem 0 1rem;
}

.news__item {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .4);
    cursor: pointer;
    height:500px;
}

    .news__item:hover {
        box-shadow: 0 0 2rem rgba(0, 0, 0, .4);
    }

.news__title {
    padding-left: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin: 1rem 0;
}

.news__text {
    padding: 0 1.5rem 2rem;  
    height: 110px;
}

.btn-news {
    margin: 0 0 10px 20px;

}

.news__img {
    width: 100%;
    height: 300px;
}

/* /news */

/*about*/

.about__text {
    font-weight:600;

}

.category {
    margin-top: 10px;
    padding:10px;
    border-radius:5px;
    border: 1px solid #000;
    padding-top: -20px;
}

.category__title {
    margin-top: 5px;
    text-align: center;
}

/*/about*/

/*post*/
.post__text {
    font-size: 20px;
    margin-top: 230px;
}

.post__img {
    position: absolute;
    left: 50%;
    width: auto;
    height: 200px;
    margin: 0 auto;
    transform: translate(-50%,0);
}


.author {
    display:inline-block;
    margin-left:20px;
    padding: 4px;
    font-weight: 700;
    font-size: 15px;
    border: 2px solid #b709c4;
    border-radius: 15px;

}
.date {
   
    font-size: 12px;
    color: #808080 ;

}

.comment__text {
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    word-wrap: break-word;
}
/*/post*/

/*helpers*/
.text-center {
    text-align: center;
}

.pointer{
    cursor: pointer;
}

.mt-5 {
    margin-top: 5px;
}

.d-block {
    display: block;
    margin: 5px 0;
    width: 100%;
}

.img {
    width: 100%;
    height: auto;
}
img-carousel {
    width: 100%;
    height: 300px;
    
}
/*category*/
/*/category*/
/*shop*/
/*Menu !!!!*/
.menu {
    vertical-align: top;
    display: inline-block;
    margin: 10px;
}

.menu-item {
    background-color: #FEFEFE;
    width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.header-item {
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #3C3D41;
    font-size: 11px;
    padding: 15px 15px;
    border-bottom: 1.5px solid #EAEAEA;
}



/*ITEMS!!!*/
.shop-img {
    width: 100px;
    height: 130px;
    margin-top: 10px;
    vertical-align: top;
    position: relative;
    left: 50px;
}

.shop-items {
    width: 650px;
    margin: 5px;
    display: inline-block;
}

.shop-item {
    color: #000;
    text-decoration: none;
    vertical-align: top;
    width: 190px;
    height: 240px;
    margin: 8px;
    background: #FEFEFE;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    transition: all .1s linear;
}

.shop-item:hover {
    text-decoration: none;
    color: #000;
    transform: scale(1.2);
    transition: all .1s linear;
}

.shop-h3 {
    text-align: center;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1em;
}

.shop-h5 {
    position: relative;
    bottom: 10px;
    text-align: center;
    margin-top: 20px;
}

.descroption {
    margin: 0;
    text-align: center;
    font-size: 11px;
    font-style: italic;
    color: grey;
    font-family: sans-serif;
}


/*BTN*/
.loadmore {
    height: 30px;
    width: 610px;
    margin-top: 25px;
    position: relative;
    left: 8px;
    text-decoration: none;
    font-size: 15px;
    background-color: #B8C6C7;
    color: #FEFEFE;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto', sans-serif;
}

.mini-menu {
    width: 200px;
    border-radius: 3px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
    overflow: hidden;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #848C8F;
    font-size: 11px;
    margin: 10px;
}
.mini-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.mini-menu > ul > li {
    position: relative;     
}

.mini-menu > ul > li > a {
    display: block;
    outline: 0;
    padding: 1.2em 1em;
    text-decoration: none;
    color: #3C3D41;
    font-weight: normal;
    letter-spacing: 2px;
    background: #FEFEFE;
    border-bottom: 1.5px solid #EAEAEA;
}

.mini-menu .sub > ul {
    height: 0;
    overflow: hidden;
    background: #848C8F;
}

.mini-menu .sub > ul > li > a {
    font-family: sans-serif;
    color: #FEFEFE;
    font-size: 12px;
    display: block;
    text-decoration: none;
    padding: .7em 1em;
    text-transform: capitalize;
    font-style: normal;
    letter-spacing: 1px;
}
/*.mini-menu .sub > ul > li > a:hover,*/
.mini-menu .sub > a.active,
{
padding-left: 1.3em;
color: blue;
content: "1";
float: right;
margin-right: 6px;
line-height: 12px;
}

.mini-menu .sub > a:after {
content: ">>";
float: right;
margin-right: 6px;
line-height: 12px;
}


/*/shop*/



/*product*/
.product-card {
    padding: 10px;
    border: 2px solid #3C3D41;
    border-radius: 10px;
}

.item_text {
    margin: 10px 0;
    font-size: 18px;
    height: 300px;

}



.price-buttons {
    
}
/*/product*/
/*helpers*/
.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.p-2 {
    padding: 0.5rem !important;
}

.bg-white {
    background-color: #fff !important;
}

.mt-4,
.my-4 {
    margin-top: 1.5rem !important;
}

.pr-3,
.px-3 {
    padding-right: 1rem !important;
}

.pl-3,
.px-3 {
    padding-left: 1rem !important;
}

.rounded {
    border-radius: 0.25rem !important;
}


.mr-1,
.mx-1 {
    margin-right: 0.25rem !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}


.font-weight-bold {
    font-weight: 700 !important;
}

.flex-row {
    flex-direction: row;
}

.jc-around {
    justify-content: space-around;
}

.m-top {
    margin-top: 18%;
}

.dropdown-menu {
    width: 100%;
    background-color: #222;
    margin-top: 4px !important;
}

    .dropdown-menu li a {
        color: #fff;
    }

.navbar-nav > .open > a {
    background-color: inherit !important;
}
.m-top-5 {
    margin-top: 5%;
}

.ww {
    word-wrap:break-word;
}

/*/helpers*/


/*cart*/

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');



.size span {
    font-size: 11px
}

.color span {
    font-size: 11px
}

.product-deta {
    margin-right: 70px
}

.gift-card:focus {
    box-shadow: none
}

.pay-button {
    color: #fff
}

    .pay-button:hover {
        color: #fff
    }

    .pay-button:focus {
        color: #fff;
        box-shadow: none
    }

.text-grey {
    color: #a39f9f
}

.qty i {
    font-size: 11px
}

/*/cart*/

/*orders*/

.order-block {
    border: 2px solid #212121;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}


/*/orders*/